// Place all the styles related to the admin::top controller here.
// They will automatically be included in application.css.

// You can use Sass (SCSS) here: http://sass-lang.com/

.main_image {
	width: 100%;
    height: 300px;
}