<h1 class="text-center">About</h1>
  <div class="about-contents row">

        <div class="about-content col-xs-6">
          <img src="assets/baked.jpg" style="max-width: 100%;">
        </div>

        <div class="about-content about-text col-xs-6" style="margin-top:150px; margin-bottom: 206.25px;">
          <p style="text-align: center;">⻑野県にある⼩さな洋菓⼦店「ながのCAKE」の商品通販サイトです。</br>
            当店では、卵や乳のアレルギーをお持ちの方、妊娠中や授乳中など食生活に気をつかう女性、血糖が気になる方をはじめ、多くの皆さまに喜んで頂いています。</br>
            数多くの商品を掲載しておりますので、お楽しみください。</p>
        </div>

        <div class="about-content about-text col-xs-6" style="margin-top:150px; margin-bottom: 206.25px;">
            <p style="text-align: center;">末次農園さん（諏訪町）の長野ベリー、大橋ファームさん（飯山市）の無農薬・無化学肥料のぶどうなど、なるべく地元産、国産の旬のフルーツ類を使用しています。
        </div>

        <div class="about-content col-xs-6">
          <img src="assets/cake.jpg" style="max-width: 100%;">
        </div>
    </div>